/* MAIN RESESTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #5c5c5c;
}

.header h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    letter-spacing: 1.1px;
}

.search-bar{
    display: inline;
    padding: 5px;
    border: 1px solid black;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.nav-menu ul li {
    padding: 0 10px;
}

.nav-menu img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}