/* MAIN RESESTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    background-color: #e3e4e9;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    background-color: #203764;
}

.header h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-color: #203764;
    color: #f6a411;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #203764;
}

.nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    background-color: #203764;
}

.nav-menu ul li {
    padding: 10px;
    background-color: #203764;
    color: #f6a411;
}

.nav-menu a {
    background-color: #203764;
    color: #f6a411;
}
.nav-menu img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}